In [1]:
import skmob
from skmob.preprocessing import detection, clustering, compression
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
df = pd.read_csv('../Trips.csv')
df.head()

,Unnamed: 0,latitude,Longitude,occupancy,time,user,trip,geometry,Time
0,177,37.76673,-122.42424,1,5/17/2008 17:53:59,new_abboip,18,POINT (-122.42424 37.76673),17:53:59
1,178,37.76815,-122.42239,1,5/17/2008 17:54:58,new_abboip,18,POINT (-122.42239 37.76815),17:54:58
2,179,37.76969,-122.42001,1,5/17/2008 17:56:05,new_abboip,18,POINT (-122.42001 37.76969),17:56:05
3,180,37.77161,-122.41899,1,5/17/2008 17:56:58,new_abboip,18,POINT (-122.41899 37.77161),17:56:58
4,181,37.77265,-122.41881,1,5/17/2008 17:58:05,new_abboip,18,POINT (-122.41881 37.77265),17:58:05

In [14]:
df['Time'] = (pd.to_datetime(df['time'], format='%m/%d/%Y %H:%M:%S').dt.time)

In [15]:
df['9am'] = np.where(((df['Time'] < pd.to_datetime('9:00:00').time()) | (df['Time'] > pd.to_datetime('12:00:00').time())) , 'No', 'Yes')

In [16]:
df = df[df['9am'] == 'Yes']
df.to_csv('Nineam.csv')
df.head()

,Unnamed: 0,latitude,Longitude,occupancy,time,user,trip,geometry,Time,9am
947,1124,37.77006,-122.42229,1,5/18/2008 9:00:28,new_abboip,118,POINT (-122.42229 37.77006),09:00:28,Yes
948,1125,37.77007,-122.42237,1,5/18/2008 9:01:27,new_abboip,118,POINT (-122.42237 37.77007),09:01:27,Yes
949,1126,37.77064,-122.42242,1,5/18/2008 9:02:32,new_abboip,118,POINT (-122.42242 37.77064),09:02:32,Yes
950,1127,37.77275,-122.42230,1,5/18/2008 9:03:32,new_abboip,118,POINT (-122.4223 37.77275),09:03:32,Yes
951,1128,37.77503,-122.42092,1,5/18/2008 9:04:19,new_abboip,118,POINT (-122.42092 37.77503),09:04:19,Yes