In [1]:
import skmob
from skmob.preprocessing import detection, clustering, compression
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('../Trips.csv')
df.head()

,Unnamed: 0,latitude,Longitude,occupancy,time,user,trip,geometry,Time
0,177,37.76673,-122.42424,1,5/17/2008 17:53:59,new_abboip,18,POINT (-122.42424 37.76673),17:53:59
1,178,37.76815,-122.42239,1,5/17/2008 17:54:58,new_abboip,18,POINT (-122.42239 37.76815),17:54:58
2,179,37.76969,-122.42001,1,5/17/2008 17:56:05,new_abboip,18,POINT (-122.42001 37.76969),17:56:05
3,180,37.77161,-122.41899,1,5/17/2008 17:56:58,new_abboip,18,POINT (-122.41899 37.77161),17:56:58
4,181,37.77265,-122.41881,1,5/17/2008 17:58:05,new_abboip,18,POINT (-122.41881 37.77265),17:58:05

In [3]:
df['Time'] = (pd.to_datetime(df['time'], format='%m/%d/%Y %H:%M:%S').dt.time)

In [4]:
df['3pm'] = np.where(((df['Time'] < pd.to_datetime('15:00:00').time()) | (df['Time'] > pd.to_datetime('18:00:00').time())) , 'No', 'Yes')

In [5]:
df = df[df['3pm'] == 'Yes']
df.to_csv('Threepm.csv')
df.head()

,Unnamed: 0,latitude,Longitude,occupancy,time,user,trip,geometry,Time,3pm
0,177,37.76673,-122.42424,1,5/17/2008 17:53:59,new_abboip,18,POINT (-122.42424 37.76673),17:53:59,Yes
1,178,37.76815,-122.42239,1,5/17/2008 17:54:58,new_abboip,18,POINT (-122.42239 37.76815),17:54:58,Yes
2,179,37.76969,-122.42001,1,5/17/2008 17:56:05,new_abboip,18,POINT (-122.42001 37.76969),17:56:05,Yes
3,180,37.77161,-122.41899,1,5/17/2008 17:56:58,new_abboip,18,POINT (-122.41899 37.77161),17:56:58,Yes
4,181,37.77265,-122.41881,1,5/17/2008 17:58:05,new_abboip,18,POINT (-122.41881 37.77265),17:58:05,Yes