In [1]:
import skmob
from skmob.preprocessing import detection, clustering, compression
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('../8am.csv')
df.head()

,Unnamed: 0,latitude,Longitude,occupancy,time,user,trip,geometry,Time
0,177,37.76673,-122.42424,1,5/17/2008 17:53:59,new_abboip,18,POINT (-122.42424 37.76673),17:53:59
1,178,37.76815,-122.42239,1,5/17/2008 17:54:58,new_abboip,18,POINT (-122.42239 37.76815),17:54:58
2,179,37.76969,-122.42001,1,5/17/2008 17:56:05,new_abboip,18,POINT (-122.42001 37.76969),17:56:05
3,180,37.77161,-122.41899,1,5/17/2008 17:56:58,new_abboip,18,POINT (-122.41899 37.77161),17:56:58
4,181,37.77265,-122.41881,1,5/17/2008 17:58:05,new_abboip,18,POINT (-122.41881 37.77265),17:58:05

In [5]:
df['Time'] = (pd.to_datetime(df['time'], format='%m/%d/%Y %H:%M:%S').dt.time)

In [6]:
df['12pm'] = np.where(((df['Time'] < pd.to_datetime('12:00:00').time()) | (df['Time'] > pd.to_datetime('15:00:00').time())) , 'No', 'Yes')

In [7]:
df = df[df['12pm'] == 'Yes']
df.to_csv('Twelvepm.csv')
df.head()

,Unnamed: 0,latitude,Longitude,occupancy,time,user,trip,geometry,Time,12pm
1645,1822,37.75157,-122.39394,0,5/19/2008 12:40:41,new_abboip,171,POINT (-122.39394 37.75157),12:40:41,Yes
1646,1823,37.75154,-122.39390,0,5/19/2008 12:42:03,new_abboip,171,POINT (-122.3939 37.75154),12:42:03,Yes
1647,1824,37.75154,-122.39390,0,5/19/2008 12:43:03,new_abboip,171,POINT (-122.3939 37.75154),12:43:03,Yes
1648,1825,37.75154,-122.39391,0,5/19/2008 12:44:04,new_abboip,171,POINT (-122.39391 37.75154),12:44:04,Yes
1649,1826,37.75154,-122.39392,0,5/19/2008 12:45:04,new_abboip,171,POINT (-122.39392 37.75154),12:45:04,Yes